<%= form_for(@reddit_comment) do |f| %>
  <% if @reddit_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reddit_comment.errors.count, "error") %> prohibited this reddit_comment from being saved:</h2>

      <ul>
      <% @reddit_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment_text %><br>
    <%= f.text_area :comment_text %>
  </div>
  <div class="field">
    <%= f.label :sentiment %><br>
    <%= f.number_field :sentiment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
