<h1>Listing reddit_comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment text</th>
      <th>Sentiment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reddit_comments.each do |reddit_comment| %>
      <tr>
        <td><%= reddit_comment.comment_text %></td>
        <td><%= reddit_comment.sentiment %></td>
        <td><%= link_to 'Show', reddit_comment %></td>
        <td><%= link_to 'Edit', edit_reddit_comment_path(reddit_comment) %></td>
        <td><%= link_to 'Destroy', reddit_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reddit comment', new_reddit_comment_path %>
