<p id="notice"><%= notice %></p>

<p>
  <strong>Comment text:</strong>
  <%= @reddit_comment.comment_text %>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @reddit_comment.sentiment %>
</p>

<%= link_to 'Edit', edit_reddit_comment_path(@reddit_comment) %> |
<%= link_to 'Back', reddit_comments_path %>
